body {
    width: 1280px;
    margin: 0;
    padding: 0;
    margin: auto;
}
.top-top-menu {
  background-color:rgb(66,66,66);
  height: 28px;
  text-align: right;
}
.top-top-menu a {
  text-decoration: none;
  color: rgb(246,246,246);
  margin-right: 25px;
  line-height: 30px;
}
.text-top-top {
  margin-right: 125px;
}
.top-menu {
  display: flexbox;
    background: linear-gradient(to bottom, rgb(254,254,254), rgb(235,235,235));
    height: 112px;
}
.logo {
  margin: 18px 0 0 140px;
}
.vvod {
  border: solid 4px #79b260;
  margin-left: 44px;
  position: relative;
  bottom: 30px;
  height: 30px;
  width: 336px;
}
.search {
  width: 110px;
  height: 40px;
  background-color: #79b260;
  margin:-70px 0 0  670px;
  text-align: center;
  color: white;
  display: flex;
}
.search-img {
 margin: 8px 0 0 10px;
 height: 25px;
}
.search-text {
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
}
.right-menu {
 display: flex;
 margin:-50px 0 0  830px;
}
.your-cart {
  font-size: 20px;
  margin-left: 7px;
}
.items {
  font-size: 13px;
  margin-left: 5px;
}
.dollar {
  margin:5px 0 0  833px;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}
.btn {
  background: linear-gradient(to bottom, grey,black);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 20px;
  width: 80px;
}
.line-vert {
  height: 65px;
  width: 1px;
  background-color: grey;
  margin: -65px 0 0 165px;
  opacity: 50%;
}
.wish-list {
  display: flex;
  flex-direction: column;
  margin: -55px 0 0 200px;
}
.wish {
  height: 30px;
  width: 60px;
}
.wish-text {
 margin-left: -15px;
}
.categories {
  height: 35px;
  display: flex;
  margin-left: 150px;
}
.categories a {
  text-decoration: none;
  color: #858585;
  font-size: 21px;
  height: 35px;
  margin-right: 27px;
}
.education {
  background: linear-gradient(to bottom, #92d673,#7ab461);
  width: 110px;
  text-align: center;
}
.underline{
  height: 1px;
  width: 1280px;
  background-color: #858585;
  opacity: 50%;
}
.educ {
 color: white;
}
.content {
  display: flex;
}
.left-menu {
  width: 190px;
  height: 1000px;
  border: 1px solid #d6d6d6;
  margin: 10px 0 0 135px;
  display: flex;
  flex-direction: column;
}
.categories-books {
  font-size: 23px;
  color: #9b9a9a;
  margin: 3px 0 0 13px;
}
.all {
  margin: 15px 0 0 13px;
  font-size: 12px;
}
.fiction-liter {
  margin: 1px 0 0 13px;
  font-size: 14px;
  font-weight: bold;
  color: #696969;
}
.fiction {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}
.fiction a {
  text-decoration: none;
  color: black;
  margin: 0 30px  0 20px;
  font-size: 16px;
  height: 26px;
}
.science {
  background: linear-gradient(to bottom, #92d673,#7ab461);
  margin-top: 3px;
  width: 190px;
  margin-left: 0 !important;
}
.sci {
  color: white;
  margin-left: 20px;
}
.ctg {
  width: 140px;
  margin: 0 0 5px 20px;
  color: #e6e7e8;
}
.three {
  margin: 5px 0 0 18px;
}
.books {
  width: 800px;
  height: 1200px;
  border: 1px solid #d6d6d6;
  margin: 10px 0 0 10px;
  flex-direction: column;
}
.science-fiction {
  font-size: 23px;
  margin: 10px 0 0 30px;
}
.string {
  display: flex;
  flex-direction: row;
}
.book {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
}
.iimg {
  display: flex;
}
.sale {
  width: 50px;
  height: 50px;
  margin-left: -50px;
}
.text-book {
  color: #696969;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.red {
  color: #f16366;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.four {
  margin-left: 32px;
}
.stranica {
  display: flex;
  float: right;
  margin: 48px 20px 0 0;
}
.stranica a {
  margin-left: 27px;
  text-decoration: none;
  color: #696969;
  font-weight: bold;
}

.tri-box {
  margin-left: -5px;
  margin-right: -5px;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-bottom: 3px solid;
  border-color: #e0e0e0  #e0e0e0 #81bd66 #e0e0e0;
  text-align: center;
}

.footer {
   margin-top: 20px;
   position: relative;

}
.footer-categories {
  position:absolute;
  top: 15px;
  left: 150px;
  flex-direction: row;
  display: flex;
  background-color: #4d4d4d;
}
.biography {
  margin: 1px 0 15px 32px;
  font-size: 19px;
  font-weight: bold;
  color: #d3d3d2;
}
.biography-item {
  margin-top: -30px ;
  padding: 32px;
}
.biography-item a {
  text-decoration: none;
  color: #aeaeaf;
  font-size: 13px;
}
.ftr {
  width: 172px;
  margin: 1px 0 1px 0;
}
.footer-down {
  position:absolute;
  top: 370px;
  left: 400px;
  font-size: 19px;
}
.footer-down a {
  text-decoration: none;
  color: #d3d3d2;
}
.card {
  position:absolute;
  top: 405px;
  left: 580px;
}
.footer-down-down h5 {
 text-decoration: none;
  color: #d3d3d2;
  left: 630px;
  position:absolute;
  top: 430px;
  left: 370px;
}
.footer-categories {
  position:absolute;
  top: 1px;
  left: 120px;
  flex-direction: row;
  display: flex;
  background-color: #4d4d4d;
}
.footer-low {
  position: relative;
  width: 1028px;
  height: 150px;
  top: 300px;
  left: 120px;
  background: #2e2e2e;
}
.footertxt{
  color: #dddddd;
  position: relative;
  left: 220px;
}
.footerimg{
  position: relative;
  left: 450px;
}
.footertxt2{
  color: #dddddd;
  position: relative;
  left: 150px;
}
